.add_Artist {
    background-color: darkslateblue;
    color: #fff;
    text-align: center;
    position: relative;
    left: 35%;
    top: -55px;
    border-radius: 6px;
    padding: 8px 0;
    display: flex;
    width: 50%;
}
.block{
    display:block;
}
.input_area{
    margin-left: 2rem;
    display: flex;
}
Button{
    margin-left: 1rem;
    height: 2.4rem;
}
img{
    height: 400px;
    margin-left: 10px;
}
a{
    text-decoration: none;
}
input{
	margin-left: 4px;
	padding-left: 0.5rem;
	border-radius: 5px;
    height: 2rem;
}
.full_Artist{
    overflow: auto;
    position: fixed;
    width: 98%;
    background-color: cadetblue;
    color: #fff;
    left:1%;
    height: 90%;
    top:2.5%;
    border-radius: 6px;
    padding: 8px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Artist{
    background-color: cornflowerblue;
    color: #fff;
    left:5px;
    top:5px;
    border-radius: 6px;
    padding: 8px 0;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Artist div{
    margin: 1rem;
}

